<div class="group_card">
  <div class="group_card_left">
    <p class="category_icon"><%= group.icon %></p>
    <p class='color'><%= group.name %></p>
  </div>
  <p class='color'>$ <%= group.total_amount %></p>
</div>
