<div class='navbar'>
    <div>
        <%= link_to root_path, class:"nav-btn" do %>
          <span class="iconify" data-icon="eva:arrow-back-fill"></span>
        <% end %>
    </div>

    <h2 class='nav-login'>LOG IN</H2>

    <div>
        <%= link_to destroy_user_session_path, method: :delete, class:"nav-btn" do %>
          <span class="iconify" data-icon="gridicons:sign-out""></span>
        <% end %>
    </div>
</div>